body{
	background-color: #c91c1c;
}
header{
	width: 100vw;
	height: 10vh;
	background-color: #960014;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
header nav a img{
	width: 13vw;
}
.carrossel{
	width: 100vw;
	height: 65vh;
	display: flex;
	justify-content: center;
}
.carrossel-slide{
	width: 98vw;
	margin-top: 20px;
}
.carousel-indicators{
	display: flex;
	position: all;
	bottom: -50px;
}
.buttons{
	display: flex;
	flex-direction: column;
	width: 96vw;
	margin: 0 auto;
}
.buttons a{
	margin-top: 5px;
}
.buttons #whatsapp:hover{
	background-color: green;
}

.buttons #you-tube:hover{
	background-color: red;
}

.buttons #instagram:hover{
	background-color: #993399 ;
}

footer{
	width: 100vw;
	height: 5vh;
	display: flex;
}

footer p{
	display: flex;
	margin: 0 auto;
	align-items: center;
	font-size: 0.7rem;
	color: #fff;
}

@media screen and (min-width: 1024px){
	body{
	background-image: url("bg-pc.png");
	background-size: 100%;
}

	.carrossel-slide{
		width: 25vw;
	}
	header nav a img{
	width: 4vw;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){

	.carrossel-slide{
		width: 70vw;
	}
	header nav a img{
	width: 8vh;
	height: 8vh;
	}

}
